target/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Editor temp files
*.swp
*~

# Checkstyle
.checkstyle

# Misc
atlassian-ide-plugin.xml
.sonar-ide.properties
*.patch
.metadata
.svn
